:root {
  --bg: #fbffff;
  --fg: #021618;
  --green: #c1f1b7;
  --yellow: #ffe867;
  --blue: #1b6397;
  --red: #ff6888;
  --purple: #b5bff0;
  --black: #212121;
  --black-alpha: #21212131;
  --border: #cccccc;
}
