:root {
  --bg: #fbffff;
  --fg: #002f34;
  --green: #d8f1b7;
  --yellow: #ffe867;
  --blue: #05406a;
  --red: #f1b5b9;
  --purple: #b5bff0;
  --black: #212121;
  --black-alpha: #21212131;
  --border: #cccccc;
}
