.hero-body {
  min-height: 100dvh;
  background: radial-gradient(circle at top left, #46b8ff 0%, var(--bg) 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.whatsapp-btn i {
  font-size: 1.3rem;
}

.hero-container {
  width: min(760px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80dvh;
  gap: 1rem;
  transition: 1s;
}

.hero-container .hero-description p {
  font-size: 1rem;
  color: var(--black);
  text-align: center;
  line-height: 1.5;
}

.hero-title {
  text-align: center;
}

.hero-title img {
  width: min(290px, 100%);
  border-bottom: solid 2px var(--border);
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100px;
}

#hero-slogan-top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg);
  border-radius: 20px 20px 0 0;
  background-color: var(--blue);
  width: 50%;
  height: 40px;
  font-size: 2rem;
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(-50%) translateX(-300px);
  transition: 1s;
}

#hero-slogan-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  border-radius: 0 0 20px 20px;
  background-color: var(--yellow);
  width: 50%;
  height: 40px;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(50%) translateX(300px);
  transition: 1s;
}

.hero-description {
  text-align: center;
  opacity: 0;
  transition: 1s;
  max-width: 480px;
  display: grid;
  gap: 0.7rem;
}

.hero-description h2 {
  color: var(--black);
  font-size: 2rem;
  margin: 0 0 0.6rem;
  border-bottom: solid 1px var(--border);
}

.hero-description p {
  font-size: 1rem;
  line-height: 1.45;
}

.init-btn,
.whatsapp-btn,
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  text-transform: uppercase;
  width: 80%;
  height: 40px;
  font-size: 1.2rem;
  background-color: var(--black-alpha);
  color: var(--fg);
  border: none;
  outline: none;
  border: dashed 1px var(--black-alpha);
  border-radius: 6px;
  text-decoration: none;
}

.whatsapp-btn {
  background-color: var(--green);
  color: var(--fg);
}

.init-btn {
  color: var(--blue);
}

.about {
  background-color: var(--black-alpha);
  color: var(--fg);
}

i,
.whatsapp-btn i {
  font-size: 2rem;
}

@media (max-width: 640px) {
  .hero-container p {
    font-size: 1.25rem;
  }

  #hero-slogan-top,
  #hero-slogan-bottom {
    font-size: 1.6rem;
  }

  .hero-description h2 {
    font-size: 1.7rem;
  }
}
